html {
    height: 100%;
}

body {
    margin: 0;
    background-color: hsl(30, 38%, 92%);
    display: flex;
    height: 99%;
}

.container {
    width: 375px;
    border: 0.2rem;
    border-radius: 12px;
    margin: auto;
    background-color: hsl(0, 0%, 100%);
}

#desktop_image {
    display: none;
}

#mobile_image {
    max-width: 100%;
    max-height: 100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    display: block
}

#written_column {
    align-items: center;
    margin: 0 1rem;
}

.small-light-heading {
    color: hsl(228, 12%, 48%);
    text-transform: uppercase;
    font-family: 'Montserrat';
    letter-spacing: 0.7em;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

h1 {
    font-family: 'Fraunces';
    margin-bottom: 1rem;
    margin-top: 1rem;
}

#written_column p {
    font-family: 'Montserrat';
    font-size: 14px;
    color: hsl(228, 12%, 48%);
    text-align: start;
}

.prices {
    display: flex;
}

#price {
    font-family: 'Fraunces';
    color: hsl(158, 36%, 37%);
    font-size: 2rem;
}

#strikedprice {
    font-family: 'Montserrat';
    text-decoration: line-through;
    color: hsl(228, 12%, 48%);
    font-size: 0.8rem;
    margin: auto 1rem;
}

.button {
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
    font-family: 'Montserrat';
    background-color: hsl(158, 36%, 37%);
    border-radius: 10px;
    width: 100%;
    border-style: none;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.64, 0.01, 0.42, 1);
    transition-property: all;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.button::before {
    content: url(../images/icon-cart.svg);
    vertical-align: middle;
    margin-right: 5px;
}

.button:hover {
    background-color: hsl(158, 36%, 25%);
}

@media (min-width:800px) {
    .container {
        display: flex;
        text-overflow: wrap;
        flex-direction: row;
        width: 580px;
        border: 0.2rem;
        border-radius: 12px;
        margin: auto;
        background-color: hsl(0, 0%, 100%);
    }
    #written_column {
        width: 40%;
        margin-left: 1.9rem;
        margin-right: 1.9rem;
        margin-top: 1rem;
    }
    #image_column {
        display: block;
        width: 50%;
        max-height: 100%;
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
    }
    #mobile_image {
        display: none;
    }
    #desktop_image {
        display: block;
        width: 100%;
        max-height: 100%;
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
    }
    .button {
        margin: auto;
        margin-top: 25px;
    }
    .small-light-heading {
        margin-top: 10px;
        color: hsl(228, 12%, 48%);
        text-transform: uppercase;
        font-family: 'Montserrat';
        letter-spacing: 0.7em;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }
    h1 {
        font-family: 'Fraunces';
        margin-bottom: 1rem;
        margin-top: 1rem;
    }
    #written_column p {
        font-family: 'Montserrat';
        font-size: 14px;
        color: hsl(228, 12%, 48%);
        text-align: start;
        margin-bottom: 1.7rem;
    }
}